/* varsayilan ozellikleri sifirla*/
*{
    padding: 0;;
    margin: 0;
    box-sizing: border-box;
}

/* arka plan tam ekran ve renk gecisi*/
body{
    height: 100vh;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    

}

/* music player*/
.music-player{
    font-size: 16px;
    width: 80vw; /* */
    background-color: #2a2a3d;
   
    position: absolute; /* transfotm ... top ve left te ortalamak icin gereklidir */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px; /* 0 1  -> 2 ve katlari */
    /* width: 420px;
    padding: 20px; */
     max-width: 25em;
     padding: 3em 2em;
}

img{
  width: 100%;
  margin-top: 1.25em;
  border-radius: 1rem;
  max-height: 300px;
  box-shadow: 0 4px 6px rgba(180, 2, 91, 0.836);
}

#playlist{
    float: right;
    color: #d60066;
}

.song-details{
    font-family: 'Poppins', sans-serif;
    text-align: center;
  
}

.song-details #song-name{
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 0.3px;
    color:#d60066;
    margin-top: 30px;
  
}


.song-details #song-artist{
    font-size: 0.8em;
    color:#975374;
    margin-bottom: 30px;
}

.player-options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1.25rem;
    margin: 1.25rem 0 0.6em 0;
}

.music-player button{
    border: none;
    background-color: transparent;
}

#play, #pause{
    background-color: #d60066;
    height: 2.5em;
    width: 2.5em;
    font-size: 1.8em;
    color: white;
    border-radius: 50%;

}

#prev, #next{
    color: #d60066;
    font-size: 1.4em;
}

#shuffle, #repeat{
    color: #d60066;
    font-size: 1em;
}

.hide{
    display: none;
}

#progress-bar{
    position: relative;
    width: 100%;
    height: 0.3em;
    background-color: gray;
    margin: 1em 0;
    border-radius: 2em;
    cursor: pointer;
}

#current-progress{
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    background-color: #d60066;
    height: 100%;
    width: 50%;
    border-radius: 2em;
}

.time-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

#playlist-container{
    background-color: rgb(225, 225, 201);
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px gray;
    overflow: auto;
    scroll-behavior: smooth;
}
#current-time{
color: #bb216b;
}
#max-duration{
    color: #928dab;
}

#close-button{
    background-color: transparent;
    border: none;
    height: 2em;
    width: 2em;
    cursor: pointer;
    margin-left: 90%;
    font-size: 20px;

}

ul{
    list-style-type: none;
}

li{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    cursor: pointer;
}

.playlist-song-details{
    margin-left: 1rem;
}

.playlist-image-container{
    width: 4em;
    margin-left: 10px;
}

.playlist-song-details > span{
    display: block;
}

#playlist-song-artist-album{
    color: gray;
}

button.active i{
    color: #d60066;
 }

 @media screen and (max-width: 450px) {
    .music-player{
        font-size: 14px;
    }
    
 }
   